.data-grid {
  overflow-x: auto;
}

.invalid {
  background-color: #f2dede !important;
}

.edit-button, .delete-button {
  width: 23px;
}

.database-table {
  padding-top: 10px;
}

.global-alert {
  position: absolute;
  top: 7px;
  left: 10%;
  right: 10%;
  z-index: 99;
}